<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div>
      <form id="sw">
        <!-- 以下,view_index_2.js有効にして実行してください -->
        <!-- <button id="on" style='font-size:38px;' class="btn btn-danger btn-lg  text-center"><strong> ON </strong></button>
        <br>
        <button id="off" style='font-size:30px;' class="btn btn-success btn-lg"><strong>OFF</strong></button> -->

      <!-- 以下,view_index.js有効にして実行してください -->
        <input id="led_1" type="checkbox" name="led_select" value="led_1=True">LED_1
        <input id="led_2" type="checkbox" name="led_select" value="led_2=True">LED_2
        <br>
        <input type="submit" id="send" class="btn btn-danger btn-lg  text-center btn-lg" value="発 信">
    </form>
    </div>
    <!-- https://digital-marketing.jp/seo/spam-hidden-text/ -->
    <!-- <script type="text/javascript" src="javascripts/view_index.js"></script> -->
    <script type="text/javascript" src="javascripts/view_index_2.js"></script>


  </body>
</html>
